@import "~@fortawesome/fontawesome-free/css/all.min.css";
.info-box {
    display: flex;
    justify-content: space-around;
    padding: 40px 20px;
    background-color: #0056b3;
    color: white;
    font-size: xx-large;
    height: 250px;
    width: 1800px;
    
  }
  .logo{
    width: 6px;
    height: 20px;
    cursor: pointer;
    margin-right: 10px;
    align-items: left;
  }
  .info-column {
    text-align: center;
    max-width: 30%;
  }
  
  .info-column h3 {
    font-size: 1.5rem;
  }
  
  .info-column p {
    font-size: 1rem;
  }
  .social-icons {
    display: flex;
    gap: 10px;
    margin-right: 100px;
  }
  
  .social-icons i {
    font-size: 24px;
    color: #333;
    cursor: pointer;
  }
  
  .social-icons i:hover {
    color: #007bff;
  }