.password-container {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .password-container input {
    flex: 1;
    padding-right: 35px; /* مساحة للعين */
  }
  
  .toggle-password {
    position: absolute;
    right: 10px;
    cursor: pointer;
    font-size: 1.2em;
    color: #555;
  }
  
  .toggle-password:hover {
    color: #222;
  }
  